<div class="top-header">
     <img src="/assets/logo.png" alt="name logo">
    <div class="links font2">
        <a routerLink="/">About me</a>
        <a href="/assets/BLE-CV.pdf" target=”_blank” >Resume</a>
        <a [routerLink]="['/contact']">Contact</a>
    </div>
    <div class="profile-links">
        <img class="logo-size" src="/assets/linkedin-icon.png" alt="LinkedIn Profile">
    </div>
    <div class="mobile-menu">
        <span class="material-symbols-outlined">
            menu
            </span>
    </div>
</div>