<div class="top-header">
     <img routerLink="/" src="/assets/logo.png" alt="name logo">
    <div class="links font2">
        <a routerLink="/about-me">ABOUT ME</a>
        <a href="assets/BLE-CV.pdf" target=”_blank” >RESUME</a>
        <a [routerLink]="['/contact']">CONTACT</a>
    </div>
    <div class="profile-links">
        <a href="https://cm.linkedin.com/in/blessing-mbony-b19127164" target=”_blank”><img class="logo-size" src="/assets/linkedin-icon.png" alt="LinkedIn Profile"></a>
        <a href="https://github.com/BlessingMbony" target=”_blank”><img class="logo-size" src="/assets/github.png" alt="LinkedIn Profile"></a>
    </div>
    <div class="mobile-menu">
        <span class="material-symbols-outlined">
            menu
            </span>
    </div>
</div>