<div class="container">
    <div class="top">
        <app-header></app-header>
        <div class="top-body">
            <div class="profile-picture" *ngIf="showTechListSwitcher">
                <div class="profile-design1 bng profile-design font3"> <span class="move-right">2+</span> <br>
                <p class="font1 font10">Years Experience</p></div>
                <img src="/assets/profile-picture.png" alt="Profile Picture">
                <div class="profile-design2 profile-design font2"> <a href="http://localhost:4200/contact">Hire me</a></div>
            </div>
            <div class="profile-description" *ngIf="showTechListSwitcher">
                <p class="font3 margin-buttom">Hi, <br> I'm Blessing Mbony and <br>I am a <span class="color-white blue-background font3 margin-buttom">Business Data Analyst.</span></p>
                <p class="font1 personal-description">I'm a based in Paris, France. With ample experience, a keen eye for detail, I have the expertise to analyze data effectively to make informed decisions that drive success.  I am an experienced developer with many
                    coupled with a deep understanding of industry standards and best practices.
                </p>
                <div class="switcher"><span class="material-symbols-outlined" (click)="showTechList()">
                    arrow_circle_right
                    </span></div>
            </div>
            <div class="tech-list" *ngIf="!showTechListSwitcher">
                <div class="switcher-two"><span class="material-symbols-outlined" (click)="showTechList()">
                    arrow_circle_left
                    </span></div>
                    <div class="tech-list-content">
                        <ul class="">
                            <li><img class="logo" src="/assets/sqlLogo.webp" alt="sqlLogo logo"></li>
                            <li><img class="logo" src="/assets/pythonlogo.png" alt="python logo"></li>
                            <li><img class="logo" src="/assets/RLogo.png" alt="R logo"></li>
                            <li><img class="logo" src="/assets/m365.jpeg" alt="m365 logo"></li>
                            <li><img class="logo" src="/assets/reactLogo.png" alt="react logo"></li>
                            <li><img class="logo" src="/assets/htmlcssjs.png" alt="htmlcssjs logo"></li>
                            <li><img class="logo" src="/assets/tableaulogo.jpeg" alt="tableau logo"></li>
                            <li><img class="logo" src="/assets/technology/typescript.png" alt="typescript logo"></li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>



    <div class="buttom">
        <img  class="working-img"src="/assets/projectillustration.svg" alt="">
        <h2 class="work">PROJECTS</h2>
        <p class="font1">My clients projects</p>
        <div class="projectsbackground">
            <ul class="projects" >
             <li (mouseover)="hoverOn('resifia')" (mouseout)="hoverOff('')">
               <div class="initial">
               <img class="project-image"  src="/assets/resifia.jpeg" alt="">
            </div>
            <div class="content" [ngClass]="currentProject ==='resifia' ? 'fade-in':'fade-out'" >
                <h1>Resifia</h1>
                <p>Resifia is a real estate marketplace</p>
                <a href="https://www.resifia.com/"> View</a>
            </div>
             </li>
            <li>
            </li>
            <div class="initial"></div>
            <div class="content"></div>
            </ul>
        </div>


    </div>

    <footer>
        <div class="footer">
            <p class="footer1"><img src="/assets/logo.png" alt="website logo"></p>
        </div>
    </footer>
</div>