<div class="container">
    <div class="top">
        <app-header></app-header>
        <div class="top-body">
            <div class="profile-picture" *ngIf="showTechListSwitcher">
                <div class="profile-design1 bng profile-design font3"> <span class="move-right">2+</span> <br>
                <p class="font1 font10">Years Experience</p></div>
                <img src="/assets/profile-picture.png" alt="Profile Picture">
                <div class="profile-design2 profile-design font2"> <a [routerLink]="['/contact']">Hire me</a></div>
            </div>
            <div class="profile-description" *ngIf="showTechListSwitcher">
                <p class="font3 margin-buttom">Hi, <br> I'm Blessing Mbony and <br>I am a <span class="color-white blue-background font3 margin-buttom"><typing></typing></span></p>
                <p class="font1 personal-description">I'm a based in Paris, France. With ample experience, a keen eye for detail, I have the expertise to analyze data effectively to make informed decisions that drive success.  I am an experienced developer with many
                    coupled with a deep understanding of industry standards and best practices.
                </p>
                <div class="switcher"><span class="material-symbols-outlined" (click)="showTechList()">
                    arrow_circle_right
                    </span></div>
            </div>
            <div class="tech-list" *ngIf="!showTechListSwitcher">
                <div class="switcher-two"><span class="material-symbols-outlined" (click)="showTechList()">
                    arrow_circle_left
                    </span></div>
                    <div class="tech-list-content">
                        <ul class="">
                            <li><img class="logo" src="/assets/sqlLogo.webp" alt="sqlLogo logo"></li>
                            <li><img class="logo" src="/assets/pythonlogo.png" alt="python logo"></li>
                            <li><img class="logo" src="/assets/RLogo.png" alt="R logo"></li>
                            <li><img class="logo" src="/assets/m365.jpeg" alt="m365 logo"></li>
                            <li><img class="logo" src="/assets/reactLogo.png" alt="react logo"></li>
                            <li><img class="logo" src="/assets/htmlcssjs.png" alt="htmlcssjs logo"></li>
                            <li><img class="logo" src="/assets/tableaulogo.jpeg" alt="tableau logo"></li>
                            <li><img class="logo" src="/assets/technology/typescript.png" alt="typescript logo"></li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>



    <div class="buttom">
        <img  class="working-img"src="/assets/projectillustration.svg" alt="">
        <h2 class="work">PROJECTS</h2>
        <p class="font1">My clients projects</p>
        <div class="projectsbackground">
            <ul class="projects" >
                <div>
                    <li (mouseover)="hoverOn('resifia')" (mouseout)="hoverOff('')">
                        <div class="initial">
                         <img class="project-image"  src="/assets/resifia.jpeg" alt="">
                        </div>
                        <div class="content" [ngClass]="currentProject ==='resifia' ? 'fade-in':'fade-out'" >
                          <h1>Resifia</h1>
                          <p>Resifia is a real estate marketplace.</p>
                          <a (click)="openLink('https://www.resifia.com/')"> View</a>
                        </div>
                      </li>

                      <li (mouseover)="hoverOn('Power Bi visualisations')" (mouseout)="hoverOff('')">
                         <div class="initial">
                          <img class="project-image"  src="/assets/Power-BI.png" alt="">
                         </div>
                         <div class="content" [ngClass]="currentProject ==='Power Bi visualisations' ? 'fade-in':'fade-out'" >
                          <h1>Employee Performance </h1>
                          <p>Analysis of employee performance metrics, charts, graphs, and maps data visualization, statistical analysis and predictive modeling for turnover rates.</p>
                          <a (click)="openLink('https://github.com/BlessingMbony/Power-Bi-HR-Employee-Performance-Tracker/tree/main/Visualization%20(Screenshots)')"> View</a>
                         </div>
                       </li>

                       <li (mouseover)="hoverOn('Manifacturing-Efficiency-Analyzer')" (mouseout)="hoverOff('')">
                         <div class="initial">
                          <img class="project-image"  src="/assets/power-bi-blue.webp" alt="">
                         </div>
                         <div class="content" [ngClass]="currentProject ==='Manifacturing-Efficiency-Analyzer' ? 'fade-in':'fade-out'" >
                          <h1>Manifacturing Efficiency Analysis </h1>
                          <p>Manufacturing Process Efficiency Analyzer with the capability to monitor manufacturing processes, track efficiency metrics, and predict maintenance needs.</p>
                          <a (click)="openLink('https://github.com/BlessingMbony/Manifacturing-Efficiency-Analyzer/tree/main/Dashboard%20Screenshots%20and%20Features')"> View</a>
                         </div>
                       </li>

                       <li (mouseover)="hoverOn('Financial-Performance-Analysis')" (mouseout)="hoverOff('')">
                         <div class="initial">
                          <img class="project-image"  src="/assets/dash.webp" alt="">
                         </div>
                         <div class="content" [ngClass]="currentProject ==='Financial-Performance-Analysis' ? 'fade-in':'fade-out'" >
                          <h1>Financial Performance Analysis </h1>
                          <p>Data consolidation from diverse sources, designing interactive dashboards with dynamic visualizations such as income statements, balance sheets, and cash flow charts, proficiency in DAX (Data Analysis Expressions) for measures for financial metrics.</p>
                          <a (click)="openLink('https://github.com/BlessingMbony/Financial-Performance-Analysis/commit/9ebed95d4e633288f36531f558618c42b3d31b89')"> View</a>
                         </div>
                       </li>
                </div>
            </ul>


        </div>


    </div>

    <footer>
        <div class="footer">
            <p class="footer1"><img src="/assets/logo.png" alt="website logo"></p>
        </div>
    </footer>
</div>