<app-header></app-header>
<div class="container">

    <div class="contact">
        <img src="/assets/contact.svg" alt="contact logo">
        <p class="font3">CONTACT
        </p>
        <P>Let me know if you are intesrested in my services or collaboration. <br>
         I will reply as soon as possible.
        </P>
            <div class="full-name">
                <label for="Names">Name:</label>
                <input type="text" placeholder="Enter your full name">
            </div>
            <div class="email">
                <label for="Email">Email:</label>
                <input type="text number" placeholder="Enter your email address">
            </div>
            <div class="text-me">
                <textarea rows="15" cols="50" type="text number" placeholder="message"></textarea>
            </div>
        <button class="send"> Send
        </button>
        <div class="talk">
            <div class="lets-talk">Lets talk</div>
            <a href="">mbony.blessing@gmail.com</a>
        </div>
    </div>
    <footer>
        <div class="footer">
            <p class="footer1"><img src="/assets/MBlogo.jpeg" alt="website logo"></p>
        </div>
    </footer>

</div>