<div class="container">
  <app-header></app-header>
  <hr class="noDeco">
  <div class="body">

    <div class="illustration">
      <img src="/assets/aboutmeillustration.svg" alt="">
    </div>

    <div class="centerdiv">
      <p class="font3">My Services</p>
      <p class="font1"> My role involves assisting companies and researchers in analyzing their datasets. <br> 
        I possess expertise in the complete data science workflow, including data preprocessing with excel, applying statistical methods, <br> 
        data visualization with Power Bi, Tableau, and effectively communicating results. Additionally, I have strong web development skills, <br>
        including front-end technologies like HTML, CSS, JavaScript and React.  High proficiency in data visualization libraries, <br>
        back-end development using Python. database management with SQL,  and R. </p>

        <p class="font3 ">My Timeline</p>

        <div class="timeline ">
          
          <div class="education">
            <p>Educational Background</p>
            <div class="inline">
              <img src="/assets/educationillustration.svg" alt="">
              <div class="trajectory ">
                <div class="circle"></div> <hr class="shortline"> <div class="circle"> </div> <div class="circle"> </div><hr class="shortline"> <div class="circle"></div> 
                <div class="descript">
                  <div class="bdate font1">2016</div> <div class="descrip1">Reservoir Engineer/ Data Scientist</div><div class="edate font1">2021</div>
                  <div class="bdate font1">-2023</div> <div class="descrip2">Business Data Anlayst</div><div class="edate font1">2024</div>
                </div>
            </div>
            
            </div>
          </div>
          
          <div class="profession">
            <p>Professional Experience</p>
            <div class="inline">
              <img src="/assets/workillustration.svg" alt="">
              <div class="trajectory ">
                <div class="circle"></div> <hr class="shortline"> <div class="circle"> </div> <div class="circle"> </div><hr class="shortline"> <div class="circle"></div> 
                <div class="descript">
                  <div class="bdate font1">2020</div> <div class="descrip1">Reservoir Engineer/ Data Scientist</div><div class="edate font1">2021</div>
                  <div class="bdate font1">-2022</div> <div class="descrip2">Business Data Anlayst</div><div class="edate font1">2023</div>
                </div>
            </div>
            </div>
          </div>

          <div class="certification">
            <p>Certifications</p>
            <img src="/assets/ certificationillustration.svg" alt="">
            <div class="certif">
              <img src="/assets/PowerBi Certification.jpeg" alt="Power Bi Certificate">
              <img src="/assets/Data Analytics Certification.jpeg" alt="Data Analytics Certificate">
              <img src="/assets/sql certification.jpeg" alt="SQL Certificate">
            </div>
          </div>
        </div>
      
    </div>

  </div>
  <footer>
    <div class="footer">
        <p class="footer1"><img src="/assets/logo.png" alt="website logo"></p>
    </div>
  </footer>
</div>




