body{
    padding: 0;
    margin: 0;
    font-family: sans-serif 'Times New Roman';
}


.container {
    height: 100%;
    width: 100%;
}

hr {
    margin: 0;
    background-color: blue;

}


.font1 {
    font-size: 15px;
   color: rgb(113, 113, 113);
}

.font2 {
   margin-left: 35%
   rgb(113, 113, 113);
}

.font3 {
   font-size: 20px;
   font-weight: bold;
}

.illustration img{
 height: 200px;
 width: 400px;
margin-left: 500px;
margin-top: 20px;
}

.inline {
    display: flex;
}

div.timeline img {
    width: 100px;
    height: 50px;
    font-weight: bold;
    position: relative;
    animation: mymove 5s;
    animation-fill-mode: forwards;
}

div.education img {
    animation-timing-function: ease;
    display: inline-block;

}

div.education p:hover {
    color: rgb(53, 102, 192);
    font-weight: bold;

}

div.profession img {
    animation-timing-function: ease-out;
    display: inline-block;
}

div.profession p:hover {
    color: rgb(53, 102, 192);
    font-weight: bold;

}

div.certification img {
    animation-timing-function: ease-in-out;
    display: inline-block;
}

div.certification p:hover {
    color: rgb(53, 102, 192);
    font-weight: bold;

}

div.circle {
    height: 7px;
    width: 7px;
    background-color: rgb(36, 89, 169);
    border-radius: 50%;
}

hr.shortline {
    width: 250px;
    display: inline-block;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
}

.trajectory div {
    display: inline-block;
}

.trajectory  {
 
    margin-left: 350px;
    margin-top: 0px;
}

.descrip1 {
    margin-right: 10px;
    margin-left: 10px;
}

.descrip2 {
    margin-right: 35px;
    margin-left: 10px;
}

.certif {
    display: inline-block;
}

div.certif img { 
    
    margin-right: 10px;
    height: 200px !important;
    width: 250px !important;
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
  }


@media screen and (max-width: 904px) {
    .illustration {
        display: flex;
        justify-content: center;

    }

    .illustration img {
        margin-left: 0;
    }

    .font1 {
        padding: 12px;
    }

    .timeline {
        flex-direction: column;
    }

div.certification {
        margin-bottom: 30px;
    }
}

div.centerdiv p {
    text-align: center;
}

div.centerdiv p.font1 {
    margin-bottom: 50px;
}

div.timeline {

    height: auto;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}



div.timeline img{
    height: 100px;
    width: 200px;
}



.footer {
    height: 50px;
    width: 100vw;
    background-color: #ffffff;
    color: white;
    display: flex;
    align-items: center;
    background-color: rgb(46, 90, 171);
    margin-top: 120px;
    bottom: 0;

}

div.footer p img[src="/assets/logo.png"] {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
    background-color: white;
}

.footer1 {
    display: inline-block;
    padding-left: 18px;
}

.footer2 {
    float: right;
    display: inline-block;
    padding-right: 100px;
}