<div class="container">
  <app-header></app-header>
  <hr class="noDeco">
  <div class="body">

    <div class="illustration">
      <img src="/assets/aboutmeillustration.svg" alt="">
    </div>

    <div class="centerdiv">
      <p class="font3">My Services</p>
      <p class="font1"> My role involves assisting companies and researchers in analyzing their datasets. <br> 
        I possess expertise in the complete data science workflow, including data preprocessing with excel, applying statistical methods, <br> 
        data visualization with Power Bi, Tableau, and effectively communicating results. Additionally, I have strong web development skills, <br>
        including front-end technologies like HTML, CSS, JavaScript and React.  High proficiency in data visualization libraries, <br>
        back-end development using Python. database management with SQL,  and R. </p>

        <p class="font3">My Timeline</p>

        <div class="timeline ">
          
          <div class="education">
            <p>Educational Background</p>
            <img src="/assets/educationillustration.svg" alt="">
          </div>
          <div class="profession">
            <P>Professional Experience</P>
            <img src="/assets/workillustration.svg" alt="">
          </div>
          <div class="Certification">
            <p>Certifications</p>
            <img src="/assets/ certificationillustration.svg" alt="">
          </div>
        </div>
      
    </div>

  </div>
  <footer>
    <div class="footer">
        <p class="footer1"><img src="/assets/logo.png" alt="website logo"></p>
    </div>
  </footer>
</div>




